<div class="row h-100 d-flex justify-content-center" id="add-problem-container">
  <div class="col-md-5" id="add-problem-column">
      <form id="add-problem-form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="title-label" for="problemTitleInput">Titlul Problemei:</label>
            <input maxLength="{{maxTextLengthProblemTitle}}" [(ngModel)]="problemTitle" name="problem=title" type="text" class="form-control form-control-lg" id="problemTitleInput">
            <div class="d-flex justify-content-between">
              <small id="titleHelpBlock" class="form-text text-muted">Introduceti titlul problemei, ex: "Scurgere de gaze pe Str. Sf. Ilie".</small>
              <small>{{maxTextLengthProblemTitle - problemTitle.length}}</small>
            </div>
          </div>
          <div class="form-group">
            <label class="title-label" for="problemDescriptionTextArea">Descrierea problemei:</label>
            <textarea maxLength="{{maxTextLengthProblemDescription}}" name="problem-description" [(ngModel)]="problemDescription" class="form-control" id="problemDescriptionTextArea" rows="8"></textarea>
            <div class="d-flex justify-content-between">
                <small id="problemDescriptionTextArea" class="form-text text-muted">Descrieti cat mai pe larg problema intampinata.</small>
                <small>{{maxTextLengthProblemDescription - problemDescription.length}}</small>
            </div>
          </div>
          <div class="form-group">
            <label class="title-label" for="problem-severity-table">Nivelul de severitate al problemei:</label>
            <table class="table table-hover" id="problem-severity-table">
              <thead>
                <tr><th *ngFor="let header of severityLevelsTable.headers" scope="col">{{header}}</th></tr>
              </thead>
              <tbody>
                <tr (click)="setLevelIndex(i)" [ngClass]="{'table-success': selectedLeveIndex == i}" *ngFor="let row of severityLevelsTable.rows; let i = index">
                  <td>{{i + 1}}</td>
                  <td [class.font-weight-bold]="indexValue == 0" *ngFor="let value of row; let indexValue = index">{{value}}</td>
                </tr>
              </tbody>
            </table>
            <small id="problemSeverityHelpBlock" class="form-text text-muted">Selectati o linie din tabel pentru a seta nivelul de severitate al problemei.</small>
          </div>

          <div class="form-group">
              <label class="title-label" for="severityLevel">Adaugati fotografii cu problema semnalata:</label>
              <div class="d-flex flex-wrap">
                  <i class="fas fa-plus" style="font-size:40px; cursor: pointer;"></i>
              </div>
              <small id="addPictureHelpBlock" class="form-text text-muted">Adaugati pana la 5 fotografii cu o dimensiunea maxima de 5MB fiecare.</small>
          </div>

          <div class="form-group mb-4">
              <label class="title-label" for="severityLevel">Specificati pe harta zona problemei:</label>
              <div id="gmap" #gmap></div>
          </div>
          <div class="d-flex justify-content-end">
              <button (click)="onReset()" class="btn btn-primary mr-2" type="button">Resetati<i class="fas fa-undo ml-2"></i></button>
              <button class="btn btn-success" type="submit">Salvati<i class="ml-2 fas fa-check"></i></button>
          </div>
        </form>
  </div>
</div>