@import "~nouislider/distribute/nouislider.min.css";
html {
    height: 100%;
}

body {
    padding-top: 76px;
    height: 100%;
}

hr {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#247BA0;
    height: 1px;
}



